{{page-title "Details"}}
{{!-- {{outlet}} --}}

<div class="container">
    <div class="info">
        <p>{{@model.id}}</p>
        <h1>{{@model.employee_name}}</h1>
        <h2>{{@model.employee_age}}</h2>
        <h2>{{@model.employee_salary}}</h2>
        <p>{{@model.employee_name}}Employees who exhibit positive and desirable traits usually get more career growth
            and development opportunities. Highlighting these characteristics can also help make a positive impression
            during job interviews. The typical traits of an effective employee include a mix of both hard and soft skill
        </p>
    </div>
    <div class="container">
        <h1>Self motivation</h1>
        <p>Good employees are self-motivated and committed to excellence. They understand the importance of their job
            and want to do it well. Self-motivated employees are also usually more likely to take additional
            responsibilities and demonstrate higher levels of</p>
        <h1>dedecation</h1>
        <p>Having dedication essentially means being disciplined and committed to work. Dedicated employees can usually
            manage their roles and responsibilities easily and have a sense of passion for their work.</p>
    </div>
</div>